## Temp Files
*.swp
todo.txt
[Bb]ackup/

## User Specific Files
*.user

## Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Pp]ublish/
[Pp]roperties/

# Visual Studio Files
.vs/

## Packages
**/packages/*

## Keys
*.pfx
